name: CI/CD Pipeline

on:
    workflow_dispatch:

env:
    AWS_REGION: us-east-1
    ECR_REPOSITORY: vprofileapp
    EKS_CLUSTER: vprofile-eks

jobs:
    Testing:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set Java 11
              uses: actions/setup-java@v4
              with:
                  java-version: "11"
                  distribution: "temurin"
                  cache: "maven"

            - name: Maven Test
              run: mvn test

            - name: Checkstyle
              run: mvn checkstyle:checkstyle

            - name: Set Java 17
              uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"
                  cache: "maven"

            - name: SonarQube Scan
              run: |
                  mvn sonar:sonar \
                  -Dsonar.host.url=${{ secrets.SONAR_URL || secrets.SONAR_HOST_URL || 'https://sonarcloud.io' }} \
                  -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
                  -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} \
                  -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY || 'com.visualpathit:vprofile' }} \
                  -Dsonar.junit.reportsPath=target/surefire-reports/ \
                  -Dsonar.jacoco.reportsPath=target/jacoco.exec \
                  -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml

            - name: SonarQube Quality Gate Check
              id: sonarqube-quality-gate-check
              uses: SonarSource/sonarqube-quality-gate-action@v1
              timeout-minutes: 5
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                  SONAR_HOST_URL: ${{ secrets.SONAR_URL || secrets.SONAR_HOST_URL || 'https://sonarcloud.io' }}
